*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}
//**REGOLE DI LAYOUT
.boxed {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.d-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//**REGOLE DEGLI ELEMENTI 
.btn {
    padding: .6rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
    &:hover {
        border-radius: .5rem;
    }
}

.card {
    background-color: #fff;
    width: 70%;
    margin: auto;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 1px 10px 5px 8px rgba(0,0,0,0.10);
    transform: translateY(-2.3rem);
}

.input-style {
    width: 100%;
    padding: 1rem .5rem;
    border: 1px solid lightgray;
    border-radius: .2rem;
    background-color: #E5E8EB;
}

.main-text {
    line-height: 2rem;
    color: rgb(110, 108, 108);
}

.title {
    font-size: 2rem;
    color: #484848;
}